<html>
  <head>
    <title>menber</title>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', path='wehelp.svg') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='normalize.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='styles.css') }}"
    />
  </head>
  <body>
    <main>
      <div class="title">
        <h1>歡迎光臨，這是會員頁</h1>
      </div>
      <div class="container">
        <h2 class="subtitle">恭喜您，成功登入系統</h2>
        <a href="/signout">登出系統</a>
      </div>
    </main>
  </body>
</html>
