@use "../base/typography" as *;
@use "../abstracts/variables" as *;
@use "sass:math";

.banner {
  height: 250px;
  position: relative;
  background-color: $primary;
  margin-bottom: $gutters;
  h1 {
    font-size: $font-size * 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
