@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
body {
  width: 100%;
  overflow-x: clip;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  @include breakpoint(lg) {
    width: 90%;
  }
}
