<html>
  <head>
    <title>menber</title>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', path='wehelp.svg') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='normalize.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', path='styles.css') }}"
    />
  </head>
  <body>
    <main>
      <div class="title">
        <h1>Welcome, this is the member page!</h1>
      </div>
      <div class="container">
        <section>
          <h2 class="subtitle">
            {{ PAGE_NAME }}, you have successfully logged in to the system!
          </h2>
          <a href="/signout">登出系統</a>
        </section>
        <hr />
        <section>
          <h2 class="subtitle">快來留言吧！</h2>
          <form action="/createMessage" method="POST">
            <label for="content"
              >內容
              <input
                type="text"
                id="content"
                name="content"
                placeholder="請輸入您的留言"
              />
            </label>
            <button type="submit" id="submit_btn">送出</button>
          </form>
          <hr />
          <div class="message_board">
            <div class="messages">
              {% for message in messages[::-1] %}
              <span>
                {{ message[2] }} : {{ message[3] }} {% if message[1] ==
                MEMBER_ID %}
                <button
                  type="button"
                  class="delete_btn"
                  aria-label="Delete"
                  data-message-id="{{ message[0] }}"
                >
                  X
                </button>
                {% endif %}
              </span>
              {% endfor %}
            </div>
          </div>
        </section>
      </div>
    </main>
  </body>
  <script>
    let deleteBtns = document.querySelectorAll(".delete_btn");
    deleteBtns.forEach((deleteBtn) => {
      deleteBtn.addEventListener("click", async () => {
        let messageId = deleteBtn.getAttribute("data-message-id");
        let confirmed = window.confirm("Do you really want to delete message?");
        if (confirmed) {
          try {
            const response = await fetch(`/deleteMessage/${messageId}`, {
              method: "DELETE",
            });
            if (response.ok) {
              const data = await response.json();
              console.log(data.message);
              location.reload();
            } else {
              console.error("Failed to delete message:", response.status);
              alert("Failed to delete message:", response.status);
            }
          } catch (error) {
            console.error("Failed to fetch:", error);
          }
        }
      });
    });
  </script>
</html>
